html {
	box-sizing: border-box;
}

*,*:before,*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background: #231f20;
}

#gameContainer {
	width: 100vw;
	height: 100vh;
}
#gameContainer div{
	font-family: sans-serif !important; 
    color: #353535 !important; 
    background-color: white !important;
	border: 1px solid #b0b0b0 !important;
	padding: 20px !important;
	width: 80vw !important;
	-webkit-box-shadow: 4px 9px 14px 0px rgba(0,0,0,0.29);
	-moz-box-shadow: 4px 9px 14px 0px rgba(0,0,0,0.29);
	box-shadow: 4px 9px 14px 0px rgba(0,0,0,0.29);
}
#gameContainer button{
	color: white;
    background-color: #004392;
    margin-top: 20px !important;
    border: none;
    border-radius: 0px;
    min-width: 120px;
    min-height: 50px;
    font-weight: bold;
	
}

canvas {
	width: 100%;
	height: 100%;
	display: block;
}

/* try to handle mobile dialog */
canvas+* {
	z-index: 2;
}

.logo {
	display: block;
	max-width: 100vw;
	max-height: 70vh;
}

.progress {
	margin: 1.5em;
	border: 2px solid #e1e1e1;
	width: 300px;
	display: none;
}

.progress .full {
	background-color: #004699;
	height: 1em;
	transform-origin: top left;
}

#loader {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.spinner,.spinner:after {
	border-radius: 50%;
	width: 5em;
	height: 5em;
}

.spinner {
	margin: 10px;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid #ffffff;
	transform: translateZ(0);
	animation: spinner-spin 1.1s infinite linear;
}

.clickRegisterArea {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 0px;
	height: 0px;
}

.clickRegisterArea input {
	height: 100%;
	width: 100%;
	opacity: 0;
}

#sharedUrl {
	position: fixed;
	bottom: 0; 
	left: 0;
	z-index: 2;
	width: 0px;
	height: 0px;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	word-break: break-all;
}

@keyframes spinner-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}